img {
  width: 300px;

}

#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: red;
}

.clikable {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: red;
}

.clikable2 {
  text-decoration: underline;
}
